<div class="title">Thank you for signing our petition.</div>



<div class="container">


    <h1>{{first}} {{last}}</h1>


    <div id="signed">

        <img src='{{signature}}' />

    </div>

    <div id="signers">

        <a href='{{link}}'>See all {{signersTotal}} signers.</a></br>

        <a href='/profile/update'>Update Profile.</a></br>

        <a href='/petition/delete'>Delete signature.</a>

    </div>

</div>



<div class="logout"><a href='/login'>LogOut</a></div>
